<footer class="foot">
  <svg class="mark" aria-hidden="true"><use href="#logo"/></svg>
  <p>© {{ site.site.year }} {{ site.company.name }}</p>
  <a class="up" href="#top">{{ icons['arrow-up'] | safe }}Back to top</a>
</footer>
