<header class="top">
  <div class="wrap">
    <a class="brand" href="#top" aria-label="{{ site.company.name }} home">
      <svg aria-hidden="true"><use href="#logo"/></svg>
      <span>{{ site.company.name }}</span>
    </a>
    <button class="icon-btn js-only" type="button" data-action="share" aria-label="Share this card">{{ icons['share-2'] | safe }}</button>
  </div>
</header>
